* {
    padding: 0;
    margin: 0;
}
div.primary-nav {
    position: absolute;
    top: 0;
    
    background-color: #F47932;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
}
div.secondary-nav {
    position: absolute;
    bottom: 0;
    
    background-color: #F47932;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1.name {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    color: #F3DC80; 
}

div.logo {
    position: absolute;
    top: 5px;
    left: 5px;
}
img.pokemon-logo {
    width: 200px;
    height: auto;
    z-index: 1;
}

figure {
    position: absolute;
    top:200px;
    text-align: center;
    width: 100%;
    z-index: -1;
}
img.pokemon {
    width: 400px;
    height: auto;
    z-index: -1;
}
@media (min-width: 0px) {
    figure {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);

        -webkit-animation-name: spin;
        -webkit-animation-duration: 500ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        
        -moz-animation-name: spin;
        -moz-animation-duration: 500ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        
        -ms-animation-name: spin;
        -ms-animation-duration: 500ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        
        animation-name: spin;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    h1.name::after {
        content: '???';
    }
}
@media (min-width: 500px) {
    figure {
        top:150px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        
        -ms-animation: 0;
        -webkit-animation: 0;
        animation: 0;
    }
    img.pokemon {
        content:url('/assets/charmander.png');
        width: 318px;
    }
    h1.name::after {
        content: 'CHARMANDER';
    }
}
@media (min-width: 768px) {
    figure {
        top:90px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        
        -ms-animation: 0;
        -webkit-animation: 0;
        animation: 0;
    }
    img.pokemon {
        content:url('/assets/charmeleon.png');
        width: 500px;
        overflow: none;
    }
    img.pokemon-logo {
        width: 300px;
    }
    h1.name::after {
        content: 'CHARMELEON';
    }
}

@media (min-width: 1024px) {
    figure {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        
        -ms-animation: 0;
        -webkit-animation: 0;
        animation: 0;
    }
    img.pokemon {
        content:url('/assets/charizard.png');
        width: 800px;
        height: auto;
        overflow: none;
    }
    img.pokemon-logo {
        width: 320px;
        height: auto;
    }
    h1.name::after {
        content: 'CHARIZARD';
    }
}

@-ms-keyframes spin { 
    from { 
        -ms-transform: rotate(-40deg); 
    } to { 
        -ms-transform: rotate(40deg); 
    }
}
@-moz-keyframes spin { 
    from { 
        -moz-transform: rotate(-40deg); 
    } to { 
        -moz-transform: rotate(40deg); 
    }
}
@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(-40deg); 
    } to { 
        -webkit-transform: rotate(40deg); 
    }
}
@keyframes spin { 
    from { 
        transform: rotate(-40deg); 
    } to { 
        transform: rotate(40deg); 
    }
}